.sender {
  width: 10rem;
  color: white;
  text-align: center;
  background-color: #4f6ebd;
  padding: 12px 12px 12px 12px;
  border-radius: 50px;
  font-size: 10pt;
  font-family: "Montserrat", sans-serif;
  margin-right: 0px !important;
  margin: 0px 0px 0.3rem auto !important;
  
}

.receiver {
  width: 10rem;
  color: black;
  text-align: center;
  background-color: #F6F6F6;
  padding: 12px 0px 12px 0px;
  border-radius: 50px;
  font-size: 10pt;
  font-family: "Montserrat", sans-serif;
  margin: 0px auto 0.3rem 10px !important;
}
